@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/catsListMixin.scss';

.favs {
  @include catsStyle();

  &__cat {
    @include position(relative);
  }

  &__catImage {
    @include size(225px, 225px);
    object-fit: cover;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
    }
  }

  &__addToFavButton {
    @include buttonStyle();
    background: url('../../images/basic.svg') no-repeat;

    &:hover {
      background: url('../../images/clicked.svg') no-repeat;
    }
  }

  &__clickedButton {
    @include buttonStyle();
    background: url('../../images/clicked.svg') no-repeat;
  }
}

.empty {
  @include flex(row, center, center);
  @include indents(120px 0, 0);
  text-transform: uppercase;
}